<!DOCTYPE html>
<html lang="en">

<head>
    <title>Admin-Claim Booking</title>
    <style>
        div.dataTables_wrapper {
            margin: 0 auto;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
            color: white !important;
            background: linear-gradient(to bottom, #ffffff 0%, rgb(255, 255, 255) 100%);
            background-color: #ffffff;
            border: #ffffff;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button {
            padding: 0px;
        }

        .page-item.active .page-link {
            color: #02C6C4;
            background-color: #ffffff;
            border-color: #dee2e6;
        }

        .pagination>li>a {
            color: #02C6C4;
        }

        .pagination>li>a,
        .pagination>li>span {
            position: relative;
            float: left;
            padding: 6px 12px;
            margin-left: -1px;
            line-height: 1.42857143;
            text-decoration: none;
            background-color: #fff;
            border: 1px solid #ddd;
        }

        .page-link {
            /* position: relative; */
            display: block;
            padding: .5rem .75rem;
            /* margin-left: -1px; */
            line-height: 1.25;
            color: #007bff;
            /* background-color: #fff; */
            border: 1px solid #dee2e6;
        }

        input[type=number]::-webkit-outer-spin-button,
        input[type=number]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type=number] {
            -moz-appearance: textfield;
        }

        /* .dataTables_filter, */
        .dataTables_info,
        .dataTables_length {
            display: none;
        }
    </style>

</head>

<body id="page-top">
    <%- include header.ejs %>
    <div id="wrapper">
        <%- include sidenav.ejs %>
        <div id="content-wrapper">

            <div class="container-fluid">
                <input type="hidden" value="<%= data %>" id="userId">
                <input type="hidden" value="<%= pmcId %>" id="pmcId">

                <input type="hidden" id="userProfileId" class="form-control">
                <div class="container" id="claimBooking">
                    <!-- <section id="bookinglist" class="listings no-transition"> -->
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 margin-20px-top margin-30px-bottom">
                                <h3 class="text-capitalize text-dark-blue font-weight-300">Claim Reconciliation</h3>
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-sm-3">
                                <input type="text" id="searchClaim" onkeyup="searchClaim()" placeholder="Claim #">
                            </div>
                            <div class="col-sm-3">
                                <input type="text" id="searchBooking" onkeyup="searchBooking()" placeholder="Booking #">
                            </div>
                        </div> -->
                        <div class="row">
                            <div class="col-md-12 margin-30px-bottom">
                                <table id="booking_table" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Status</th>
                                            <th>Date</th>
                                            <th>Claim</th>
                                            <th>Booking #</th>
                                            <th class="text-right">Deposit</th>
                                            <th class="text-right">Settlement</th>
                                            <th>Details</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- </section> -->
                    <script type="text/javascript">
                        var tablelength;
                        var itemDataArray = [];
                        $(document).ready(function () {
                            var pmcId = document.getElementById("pmcId").value;
                            $.ajax({
                                url: globalUrl + 'pmcId/' + pmcId + '/deposit',
                                type: 'GET',
                                headers: {
                                    Authorization: localStorage.getItem('token') || '',
                                },
                                dataType: 'json',
                                headers: {
                                    "content-type": "application/json",
                                    Authorization: localStorage.getItem('token') || ''
                                },
                                success: function (result, textStatus, xhr) {
                                    // console.log(JSON.stringify(result))
                                    var checkinDt;
                                    var address;
                                    var guestName;
                                    var nextCheckout;
                                    var cnt = 0;
                                    tablelength = result.length;
                                    var status; var settlement, claimNo;
                                    $.each(result, function (i, item) {

                                        if (item.status == null || item.status == undefined) {
                                            status = ""
                                        } else {
                                            status = item.status;
                                        }

                                        if (item.claimNumber == null || item.claimNumber == undefined) {
                                            claimNo = ""
                                        } else {
                                            claimNo = item.claimNumber;
                                        }

                                        if (item.settlement == null || item.settlement == undefined) {
                                            settlement = "";
                                        } else {
                                            settlement = '$ ' + item.settlement.toFixed(2).toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
                                        }

                                        var claimDate = moment(item.claimDate).format('MMM DD YYYY');
                                        $('<tr>').html('<td scope="row">' + status + '</td><td>' + claimDate + '</td><td>' + claimNo + '</td><td>' + item.bookingNumber + '</td><td class="text-right">$ ' + item.totalDeposit.toFixed(2).toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") + '</td><td class="text-right">' + settlement + '</td><td><button class="btn btn-blue btn-rounded width-90" id="' + item.depositId + '" onclick="viewClaim(this)">View</button></td>').appendTo('#booking_table');
                                    });
                                    $('#booking_table').DataTable({
                                        //"scrollX": true,
                                        "ordering": false,
                                        "paging": true,
                                        "language": {
                                            "info": "Showing _END_ of _TOTAL_ Properties",
                                            "infoFiltered": ""
                                        }
                                    });
                                },
                                error: function (xhr, textStatus, errorThrown) {
                                    console.log('Error in Database');
                                    // console.log(errorThrown);
                                }
                            });
                        });

                        function viewClaim(data) {
                            sessionStorage.setItem('depositId', data.id);
                            window.location.href = '/claimView';
                        }

                        function searchClaim() {
                            var input, filter, table, tr, td, i, txtValue;
                            input = document.getElementById("searchClaim");
                            filter = input.value.toUpperCase();
                            table = document.getElementById("booking_table");
                            tr = table.getElementsByTagName("tr");
                            for (i = 0; i < tr.length; i++) {
                                td = tr[i].getElementsByTagName("td")[2]; if (td) {
                                    txtValue = td.textContent || td.innerText; if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                        tr[i].style.display = "";
                                    } else {
                                        tr[i].style.display = "none";
                                    }
                                }
                            }
                        }

                        function searchBooking() {
                            var input, filter, table, tr, td, i, txtValue;
                            input = document.getElementById("searchBooking");
                            filter = input.value.toUpperCase();
                            table = document.getElementById("booking_table");
                            tr = table.getElementsByTagName("tr");
                            for (i = 0; i < tr.length; i++) {
                                td = tr[i].getElementsByTagName("td")[3]; if (td) {
                                    txtValue = td.textContent || td.innerText; if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                        tr[i].style.display = "";
                                    } else {
                                        tr[i].style.display = "none";
                                    }
                                }
                            }
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
    </div>

    <%- include footer.ejs %>
</body>

</html>